body {
  /* prevent Bootstrap from clobbering USWDS */
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
  color: #0071bc;
}

a {
  color: #0071bc;
  cursor: pointer;
}

a:hover {
  color: #205493;
}

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

ol ul,
ol ol,
ul ul,
ul ol {
  margin-top: .75em;
  margin-bottom: 0;
}

th {
  background-color: #f1f1f1;
}

main {
  padding-top: 20px;
}

#summary h4 {
  margin-top: 1em;
}

#summary table {
  margin-bottom: .5em;
}

abbr[title] {
  border-bottom: 0;
}

label small {
  font-weight: normal;
}

.income-source-details .usa-input-grid input,
.income-source-details .usa-input-grid select {
  margin-bottom: 1rem;
}

.income-source-summary {
  text-transform: lowercase;
}

select.usa-input-success {
  padding-top: 8px;
}

.usa-alert-heading {
  color: black;
}

.lowercase {
  text-transform: lowercase;
}

.well {
  border-left: 2px solid #205493;
  padding-left: 1em;
}

.well h2 {
  margin-top: 0;
}

.footer {
  background-color: #323a45;
  padding: 1em;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.info-target {
  border-bottom: 1px dotted #337ab7;
  cursor: pointer;
}

.info-target .glyphicon {
  color: #337ab7;
  left: .2em;
  top: .1em;
  padding-right: .1em;
}

.slide {
  display: none;
  position: relative;
}

.slide.current {
  display: block;
}

.slide-content {
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: #fff;
  padding: 3rem;
  border: 1px solid #eee;
}

.person-form {
  margin-bottom: 1em;
  padding: .5em 0;
}

.progress-container {
  background-color: white;
  border-bottom: 1px solid #ddd;
  top: 60px;
  padding: 20px 0 0;
  position: fixed;
  width: 100%;
  z-index: 1020;
}

.slide-content footer {
  line-height: 0;
  margin-bottom: 1em;
}

.remove-person {
  margin-top: .5em;
}

.demographics-container form {
  margin-top: 2em;
  margin-bottom: 2em;
}

@media (max-width: 768px) {
  .progress-desktop {
    display: none;
  }

  .slide-content {
    margin: 0;
    border: 0;
    box-shadow: none;
    padding: 0;
  }
}

@media (min-width: 768px) {
  body {
    background: url(../img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  main {
    padding-top: 50px;
  }

  .page-header {
    border-bottom: 0;
    margin-bottom: 1em;
  }

  .progress-container {
    padding: 23px 0 20px;
  }

  .progress-mobile {
    display: none;
  }

  .slide-content > :first-child,
  .slide-content > :first-child > :first-child,
  .slide-content > :first-child > :first-child > :first-child {
    margin-top: 0;
  }

  .slide-content footer {
    margin-top: 1em;
    margin-bottom: 0;
  }

  .slide-content footer button {
    margin-bottom: 0;
  }

  .remove-person {
    margin-top: 2em;
  }
}

/* Hover */
.rc-steps-status-finish:hover .rc-steps-head,
.rc-steps-status-finish:hover .rc-steps-main {
  cursor: pointer;
}
.rc-steps-status-finish:hover .rc-steps-head-inner {
  border-color: #00a6d2 !important;
  background-color: #00a6d2 !important;
}
.rc-steps-status-finish:hover .rc-steps-icon {
  color: #fff !important;
}
.rc-steps-status-finish:hover .rc-steps-title {
  color: #00a6d2 !important;
}

/* Current */
.rc-steps .rc-steps-item.rc-steps-status-process .rc-steps-head-inner {
  border-color: #0071bc;
  background-color: #0071bc;
}

/* Completed */
.rc-steps .rc-steps-item.rc-steps-status-finish .rc-steps-head-inner {
  border-color: #0071bc;
}
.rc-steps .rc-steps-head-inner > .rc-steps-icon,
.rc-steps .rc-steps-item.rc-steps-status-finish .rc-steps-head-inner > .rc-steps-icon {
  color: #0071bc;
}
.rc-steps .rc-steps-item.rc-steps-status-finish .rc-steps-tail > i {
  background-color: #0071bc;
}

.page-header {
  position: relative;
  padding-right: 3em;
}

.help-button {
  position: absolute;
  right: 0;
  top: 0;
}

.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
          background-size: 40px 40px;
}
.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-success {
  background-color: #5cb85c;
}
.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
  background-color: #5bc0de;
}
.progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
  background-color: #f0ad4e;
}
.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
  background-color: #d9534f;
}
.progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
