h1, h2, h3, h4, h5, h6 {
  color: #0071bc;
}

a {
  color: #0071bc;
  cursor: pointer;
}

a:hover {
  color: #205493;
}

th {
  background-color: #f1f1f1;
}

main {
  padding-top: 90px;
}

#summary h4 {
  margin-top: 1em;
}

#summary table {
  margin-bottom: .5em;
}

.info-target {
  border-bottom: 1px dotted #337ab7;
  cursor: pointer;
}

.info-target .glyphicon {
  color: #337ab7;
  left: .2em;
  top: .1em;
  padding-right: .1em;
}

.slide {
  display: none;
}

.slide.current {
  display: initial;
}

.control-label strong {
  text-decoration: underline;
}

.progress-container {
  background-color: white;
  border-bottom: 1px solid #ddd;
  top: 50px;
  padding: 20px 0 0;
  position: fixed;
  width: 100%;
  z-index: 1020;
}

@media (max-width: 768px) {
  .panel,
  .panel-body {
    margin: 0;
    border: 0;
    box-shadow: none;
    padding: 0;
  }

  .panel {
    margin-bottom: 1em;
  }
}

@media (min-width: 768px) {
  body {
    background: url(../img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  main {
    padding-top: 110px;
  }

  .page-header {
    border-bottom: 0;
    margin-bottom: 1em;
  }

  .progress-container {
    padding: 23px 0 20px;
  }
}

/* Hover */
.rc-steps-status-finish:hover .rc-steps-head,
.rc-steps-status-finish:hover .rc-steps-main {
  cursor: pointer;
}
.rc-steps-status-finish:hover .rc-steps-head-inner {
  border-color: #00a6d2 !important;
  background-color: #00a6d2 !important;
}
.rc-steps-status-finish:hover .rc-steps-icon {
  color: #fff !important;
}
.rc-steps-status-finish:hover .rc-steps-title {
  color: #00a6d2 !important;
}

/* Current */
.rc-steps .rc-steps-item.rc-steps-status-process .rc-steps-head-inner {
  border-color: #0071bc;
  background-color: #0071bc;
}

/* Completed */
.rc-steps .rc-steps-item.rc-steps-status-finish .rc-steps-head-inner {
  border-color: #0071bc;
}
.rc-steps .rc-steps-head-inner > .rc-steps-icon,
.rc-steps .rc-steps-item.rc-steps-status-finish .rc-steps-head-inner > .rc-steps-icon {
  color: #0071bc;
}
.rc-steps .rc-steps-item.rc-steps-status-finish .rc-steps-tail > i {
  background-color: #0071bc;
}

.page-header {
  position: relative;
  padding-right: 3em;
}

.page-header .help {
  position: absolute;
  right: 0;
  top: 0;
}
